<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Show</title>
</head>
<body>
        <h1>Edit Show</h1>
    
        <a href="/shows">Go Back</a>
        
        <div class="container">
            <form action="/shows/{{restful.id}}/update" method="POST">
            {% csrf_token %}
                <br>    
                Title {{restful.new_title}}
                <input type="text" name="new_title" value="{{restful.title}}">
                <br>
                Network {{restful.new_network}}
                <input type="text" name="new_network" value="{{restful.network}}">
                <br>
                Release Date {{restful.new_release}}
                <input type="date" name="new_release" value="{{restful.release}}">
                <br>
                Description {{restful.description}}
                <input type="text" name="description" value="{{restful.description}}">
                <br>
                <input type="submit" value="Update">
            </form>
            <a href="/shows/{{restful.id}}">Go to Show</a>
        </div>
</body>
</html>