<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
        <form action='/result' method='post'>
            Your Name: <input type='text' name='name'>

            Dojo Location: <select name='location'>
                            <option value="Berkeley">Berkeley</option>
                            <option value="Oakland">Oakland</option>
                            </select>
                            <select name="favorite">
                                <option value="Python">Python</option>
                                <option value="HTML">HTML</option>
                                <option value="CSS">CSS</option>
                            </select>
                            Comments (optional)
                            <textarea name="comment"></textarea>
                            <input type='submit' src=show.html value='Submit'>
        </form>
</body>
</html>