<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Hello {{request.session.first_name}}!</h1>
    </div>
    <p><a href="/logout">Logout</a></p>
    <form action="/wishes/new" method="POST">
        {% csrf_token %}
                <input type="submit" class="btn btn-primary"name="add_wish" value="Make a wish!">
    </form>

    <p>Your wish list:</p>
    <table class="table table-hover">
            <thead>
    
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Date Added</th>
                <th scope="col">Actions</th>
              </tr>

            </thead>
            <tbody>
                {% for wish in all %}
              <tr>
                <td>{{wish.item}}</td>
                <td>{{wish.created_at}}</td>
                <td><a href="/wishes/{{wish.id}}/destroy">Remove |</a><a href="/wishes/edit/{{wish.id}}">Edit |</a><a href="/wishes/{{wish.id}}/destroy">Granted!</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table><br>
          <p>Granted wishes:</p>
          <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Wisher</th>
                    <th scope="col">Date added</th>
                    <th scope="col">Date Granted</th>
                  </tr>
                </thead>
                <tbody>
                {% for wish in granted_wishes%}
                  <tr>
                    <td>{{wish.item}}</td>
                    <td>{{wish.wished_for_by.first_name}} {{ wish.wished_for_by.last_name}}</td>
                    <td>{{wish.created_at}}</td>
                    <td>{{wish.user.count}}</td>
                    <td>
                        {% if request.session.id != wish.wished_for_by.id %}
                        <a href="wishes/{{wish.id}}/like">Like</a>
                        {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>