<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Books</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <table class="table" style="display: inline-block; vertical-align: top; margin-left: 800px; margin-top: 100px">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
            {% for book in all_the_books %}
                  <tr>
                    <th scope="row">{{ book.id}}</th>
                    <td>{{ book.title}}</td>
                    <td><a href="books/{{ book.id}}">View</a></td>
                  </tr>
            {% endfor %}
                </tbody>
              </table>
<div class="container">
    <h1>Add a Book</h1>
    <form action="/books/add_book" method="POST">
    {% csrf_token %}
    <div class="form">
      <label for="book_title">Title: </label>
        <input type="text" name="book_title" placeholder="I read books!">
    </div>
        <br>
    <div class="form">
      <label for="book_description" method="POST">Description: </label>
        <textarea type="text" class="form-control" name="book_description" placeholder="neat book"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>


    <!-- <h1>All Authors</h1>
    <ol>
    {% for author in all_the_authors %}
        <li>{{ author.first_name}} {{ author.last_name}}</li>
    {% endfor %}
    </ol>
    <h2>All Books for Author #2</h2>
    <ul>
    {% for all in all_books_authors %}
        <li>{{all.title}}</li>
        <li>{{all.description}}</li>
    {% endfor %}
    </ul> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>