<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Author</title>
</head>
<body>
        <h1><strong>{{ author.first_name}} {{ author.last_name}}</strong></h1>
        <h2>Id  {{ author.id}}</h2>
        <h2>Notes : {{ author.notes}}</h2>
        
        <br></br>
        <br></br>
        <h2>Books: </h2>
        <ul>
        {% for book in author.books.all %}
            <li>{{ book.title}}</li>
        {% endfor %}
        </ul>
        <form action="/authors/{{author.id}}/add_book", method="POST">
        {% csrf_token %}
            <select placeholder="-select a book-" name="book_id">
            {% for book in other_books %}
                <option value="{{ book.id}}">{{ book.title}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
</body>
</html>