<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    
    <a href="/shows">Go Back</a>
    
    <div class="container">
       
        <form action="/shows/{{id}}" method="POST">
            {% csrf_token %}
           
            <br>    
            Title 
            <input type="text" name="new_title">
            <br>
            Network 
            <input type="text" name="new_network">
            <br>
            Release Date 
            <input type="datetime" name="new_release">
            <br>
            Description
            <input type="text" name="description">
            <br>
            <input type="submit" value="Create">
            
        </form>
        
    </div>
</body>
</html>