<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    
    <a href="/shows">Go Back</a>
    
    <div class="container">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %} 
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        <form action="/shows/create" method="POST">
            {% csrf_token %}
           
            <div class="form-group">
                    <label for="new_title">Title:</label>
                    <input type="text" class="form-control" name="new_title" placeholder="My Super Neat tv_show">
            </div>
            <div class="form-group">
                    <label for="new_network">Network:</label>
                    <input type="text" class="form-control" name="new_network" placeholder="Add network here">
            </div>
            <div class="form-group">
                    <label for="new_release">Release Date:</label>
                    <input type="date" class="form-control" name="new_release">
            </div>
            <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" name="description" placeholder="add description here">
            </div>
            <input type="submit" value="Create">
        </form> 
    </div>
</body>
</html>