<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View New Show</title>
</head>
<body>
    <h1>TV Show {{ request.session.count}}</h1>
    <a href="/shows">Go Back</a>
    <p>Title: {{request.session.new_title}}</p>
    <p>Network: {{request.session.new_network}}</p>
    <p>Release Date: {{request.session.new_release}}</p>
    <p>Description: {{request.session.description}}</p>
    <br> <br>  <br>
    
    <p>Last Updated: </p>
    <br>
    <a href="/shows/{{id}}/edit">Edit</a>|<a href="#">Delete</a>
</body>
</html>