<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1><strong>{{roster.title}}</strong></h1>
    <h2>ID: {{roster.id}}</h2>
    <p>Description: {{roster.description}}</p>
    <br>
    <hr>
    <h2>Players: </h2>
    <ol>
        {% for player in roster.players.all %}
        <li>{{player.first_name}} {{player.last_name}}<a href="/players/{{player.id}}"></a></li>
        {% endfor %}
    </ol>
    <div class="col">
        <form action="/rosters/{{roster.id}}/add_player" method="POST">
            {% csrf_token %}
            <label for="player_id">Add Player to Team</label>
            <select class="form-control" name="player_id">
                {% for player in other_players %}
                <option value="{{player.id}}">{{player.first_name}} {{player.last_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>