<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1><strong>{{ user.first_name}} {{ user.last_name}}</strong></h1>
        <h2>Id  {{ user.id}}</h2>
        <h2>Notes : {{ user.notes}}</h2>
        
        <br></br>
        <br></br>
        <h2>Players: </h2>
        <ul>
        {% for roster in user.rosters.all %}
            <li>{{ roster.title}}</li>
        {% endfor %}
        </ul>
        <form action="/users/{{user.id}}/add_roster", method="POST">
        {% csrf_token %}
            <select placeholder="-select a roster-" name="roster_id">
            {% for roster in other_rosters %}
                <option value="{{ roster.id}}">{{ roster.title}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
</body>
</html>